node_modules
.env
.DS_Store
/backend/dist
frontend/.vite/deps/_metadata.json
frontend/.vite/deps/@tanstack_react-query-devtools.js
frontend/.vite/deps/@tanstack_react-query-devtools.js.map
frontend/.vite/deps/@tanstack_react-query.js
frontend/.vite/deps/@tanstack_react-query.js.map
frontend/.vite/deps/@tanstack_react-router.js
frontend/.vite/deps/@tanstack_react-router.js.map
frontend/.vite/deps/@tanstack_router-devtools.js
frontend/.vite/deps/@tanstack_router-devtools.js.map
frontend/.vite/deps/chunk-5DGLZQX2.js
frontend/.vite/deps/chunk-5DGLZQX2.js.map
frontend/.vite/deps/chunk-HFBJYKPX.js
frontend/.vite/deps/chunk-HFBJYKPX.js.map
frontend/.vite/deps/chunk-JWOB5K5Y.js
frontend/.vite/deps/chunk-JWOB5K5Y.js.map
frontend/.vite/deps/chunk-NRQ4G3TX.js
frontend/.vite/deps/chunk-NRQ4G3TX.js.map
frontend/.vite/deps/chunk-QWN5BXRD.js
frontend/.vite/deps/chunk-QWN5BXRD.js.map
frontend/.vite/deps/chunk-XN2B5E4Y.js
frontend/.vite/deps/chunk-XN2B5E4Y.js.map
frontend/.vite/deps/chunk-YEMS42GQ.js
frontend/.vite/deps/chunk-YEMS42GQ.js.map
frontend/.vite/deps/chunk-ZDUQQDQL.js
frontend/.vite/deps/chunk-ZDUQQDQL.js.map
frontend/.vite/deps/ODZEGOMN-O4VHQ4YR.js
frontend/.vite/deps/ODZEGOMN-O4VHQ4YR.js.map
frontend/.vite/deps/package.json
frontend/.vite/deps/react_jsx-dev-runtime.js
frontend/.vite/deps/react_jsx-dev-runtime.js.map
frontend/.vite/deps/react-dom_client.js
frontend/.vite/deps/react-dom_client.js.map
frontend/.vite/deps/react.js
frontend/.vite/deps/react.js.map
frontend/.vite/deps/WIHLL4YB-AXRKKECD.js
frontend/.vite/deps/WIHLL4YB-AXRKKECD.js.map
